.btn-blue{
	background-color: rgb(203, 178, 121);
	padding: 15px 20px;
	border-raduis: 4px;
	color: white;
	font-weight: bold;
	border-radius: 4px;
	text-decoration: none;
	margin:40px;
	font-family: 'Roboto', sans-serif;
}